Repository MHarutunian/scorepads-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Added styled-components to the application.
  package-lock.json
  package.json
  src/Header/GameLink.tsx
  src/Header/Header.css
  src/Header/Header.tsx
  src/Header/ui.tsx
  src/index.css
  src/index.tsx
Due: eslint --fix, stylelint --fix

Updated stylelint to work with styled-components.
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

Added custom hook for fetching resource from scorepads API.
  src/UserManagement/List.tsx
  src/hooks/useApi.ts
Due: eslint --fix

Set up local proxy to prevent CORS issues in local development.
  .env
  .gitignore
  package-lock.json
  package.json
  src/setupProxy.js
Due: none

Merge List.tsx.
  src/App/App.tsx
  src/UserManagement/List.tsx
  src/UserManagement/User.tsx
Due: eslint --fix

Fix syntax errors in source files.
  src/App/App.tsx
  src/UserManagement/List.tsx
  src/UserManagement/User.tsx
  src/UserManagement/players.json
Due: eslint --fix

Add tests for useApi hook, fix tests for App component.
  package-lock.json
  package.json
  src/App/__tests__/App.test.tsx
  src/hooks/__tests__/useApi.test.ts
  src/hooks/useApi.ts
  src/setupTests.ts
Due: eslint --fix

Added styled components to Term Management SCOR-7
  src/App/App.tsx
  src/Jank/TermManagement/Term.tsx
  src/Jank/TermManagement/TermList.tsx
  src/Jank/TermManagement/ui.tsx
Due: eslint --fix

fixed issues with pr SCOR-7
  src/Jank/TermManagement/Term.tsx
  src/Jank/TermManagement/TermList.tsx
  src/Jank/TermManagement/ui.tsx
Due: eslint --fix

Converted template of font size to a number SCOR-7
  src/Jank/TermManagement/ui.tsx
Due: eslint --fix

Added service methods for API interactions, implemented term deletion.
  src/Jank/TermManagement/Term.tsx
  src/Jank/TermManagement/TermList.tsx
  src/Jank/TermManagement/actions.ts
  src/Jank/TermManagement/reducer.ts
  src/Jank/TermManagement/types.ts
  src/Jank/TermManagement/ui.tsx
  src/hooks/useApi.ts
  src/hooks/useErrorHandler.ts
  src/services/api.service.ts
Due: eslint --fix

Added tests for new API hooks and terms reducer.
  mocks/terms.ts
  src/Jank/TermManagement/__tests__/actions.test.ts
  src/Jank/TermManagement/__tests__/reducer.test.ts
  src/hooks/__tests__/useErrorHandler.test.ts
  src/services/__tests__/api.service.test.ts
  src/setupTests.ts
Due: eslint --fix

Update all dependencies to their latest version.
  package-lock.json
  package.json
Due: none

Add hook for managing websocket connections.
  package-lock.json
  package.json
  src/hooks/__tests__/useWebSocket.test.ts
  src/hooks/useWebSocket.ts
  src/setupProxy.js
  src/setupTests.ts
Due: eslint --fix

Clean up mock-socket setup, as it's not necessary.
  src/setupTests.ts
Due: eslint --fix

updated package versions
  package-lock.json
  package.json
Due: none

fixed linter problems with new versions
  .eslintrc.json
  tsconfig.json
Due: none

fixed error in requestWithData
  src/services/api.service.ts
Due: eslint --fix

added possibility to add terms to list
  src/Jank/TermManagement/AddTermForm.tsx
  src/Jank/TermManagement/TermList.tsx
Due: eslint --fix

added tests for term list
  src/Jank/TermManagement/__tests__/TermList.test.tsx
Due: eslint --fix

changed rule to allow beforeEach in tests
  .eslintrc.json
Due: none

excluded tests for term list from app test
  src/App/__tests__/App.test.tsx
Due: eslint --fix

renamed Action to TermAction
  src/Jank/TermManagement/Term.tsx
  src/Jank/TermManagement/__tests__/actions.test.ts
  src/Jank/TermManagement/__tests__/reducer.test.ts
  src/Jank/TermManagement/actions.ts
  src/Jank/TermManagement/reducer.ts
  src/Jank/TermManagement/types.ts
  src/UserManagement/List.tsx
Due: eslint --fix

added default props to user
  src/UserManagement/User.tsx
Due: eslint --fix

fixed suggested changes
  .eslintrc.json
  src/Jank/TermManagement/AddTermForm.tsx
  src/Jank/TermManagement/__tests__/TermList.test.tsx
  tsconfig.json
Due: eslint --fix

Update all packages to their latest version.
  .eslintrc.json
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc.json
  package-lock.json
  package.json
  src/App/App.tsx
  src/App/__tests__/App.test.tsx
  src/Header/GameLink.tsx
  src/Header/Header.tsx
  src/Header/__tests__/GameLink.test.tsx
  src/Header/__tests__/Header.test.tsx
  src/Jank/TermManagement/AddTermForm.tsx
  src/Jank/TermManagement/Term.tsx
  src/Jank/TermManagement/TermList.tsx
  src/Jank/TermManagement/__tests__/TermList.test.tsx
  src/UserManagement/List.tsx
  src/UserManagement/User.tsx
  src/index.tsx
  tsconfig.json
Due: eslint --fix

A Scorepad List is shown with all games of Jank. They can also be deleted
  src/App/App.tsx
  src/Jank/Scorepads/Player.tsx
  src/Jank/Scorepads/Scorepad.tsx
  src/Jank/Scorepads/ScorepadList.tsx
  src/Jank/Scorepads/actions.ts
  src/Jank/Scorepads/reducer.ts
  src/Jank/Scorepads/types.ts
  src/Jank/Scorepads/ui.tsx
Due: eslint --fix

added default picture to player
  src/Jank/Scorepads/Player.tsx
Due: eslint --fix

added tests for scorepad list
  src/Jank/Scorepads/__tests__/ScorepadList.test.tsx
  src/Jank/Scorepads/__tests__/actions.test.ts
  src/Jank/Scorepads/__tests__/reducer.test.ts
Due: eslint --fix

added mock data of scorepads
  mocks/scorepads.ts
Due: eslint --fix

changed header of scorepadList
  src/Jank/Scorepads/ScorepadList.tsx
Due: eslint --fix

added tests useScorepads
  mocks/scorepads.ts
  package-lock.json
  package.json
  src/Jank/Scorepads/Player.tsx
  src/Jank/Scorepads/Scorepad.tsx
  src/Jank/Scorepads/ScorepadList.tsx
  src/Jank/Scorepads/__tests__/ScorepadList.test.tsx
  src/Jank/Scorepads/__tests__/actions.test.ts
  src/Jank/Scorepads/__tests__/reducer.test.ts
  src/Jank/Scorepads/reducer.ts
  src/Jank/Scorepads/types.ts
  src/Jank/Scorepads/ui.tsx
  src/hooks/__tests__/useScorepads.test.ts
  src/hooks/useScorepads.ts
  src/setupProxy.js
Due: eslint --fix

resolved issue with date-fns
  package.json
  src/Jank/Scorepads/Scorepad.tsx
Due: eslint --fix

resolved wrong alt attribute in img tags of Player
  src/Jank/Scorepads/Player.tsx
Due: eslint --fix

resolved issue with redundant check for 'null'
  src/Jank/Scorepads/ScorepadList.tsx
Due: eslint --fix

added test for addScorepad
  src/Jank/Scorepads/__tests__/reducer.test.ts
Due: eslint --fix

added test for err handling if useApi returns err
  src/hooks/__tests__/useScorepads.test.ts
Due: eslint --fix

scorepads array is now sorted
  src/hooks/useScorepads.ts
Due: eslint --fix

removed date-fns
  package-lock.json
Due: none

added more precise types for term actions
  src/Jank/TermManagement/actions.ts
  src/Jank/TermManagement/reducer.ts
  src/Jank/TermManagement/types.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  stylelint --fix: any of: *.css
